---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">

			<img 
			class="rounded-full w-12 h-12 mb-4" 
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCJXIP9UvsEW4Rj6lkQL2IbZrCS86dKDk8ag&s" 
			alt="foto-andres" 
			/>

			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hey, soy Andrés <a href="https://www.linkedin.com/in/andrés-jesús-lópez-garcía-595a22208/" 
				target="_blank" rel="noopener"
				class="flex justify-center items-center">
				<Badge> Disponible para trabajar</Badge></a>
			</h1>

			<h2 class="text-2xl opacity-80">
			Soy un diseñador de aplicaciones web recién titulado. De Huelva, España.
			</h2>

			<h2 class="text-2xl opacity-80">
			Me caracterizo por ser una persona <span class="text-green-200">extrovertida</span>
			 y siempre creo un buen <span class="text-green-200">ambiente de trabajo.</span>
			</h2>

			<ul></ul>
		</section>
	</main>
</Layout>
