---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio AJLG">
    <main>
        <section class="flex px-10 py-40 flex-col">
            <div class="inline-block">
                <div class="inline-block items-center rounded-full text-4xl border-2 border-white p-5 mb-4">
                    <h1 class="px-4">Hey, soy Andrés J. López García</h1>
                </div>
            </div>
            <div class="inline-block">
                <div class="inline-block items-center rounded-full text-2xl border-2 border-white p-5 mb-4">
                    <h2 class="text-2xl pb-4 opacity-90">
                        Soy un diseñador de aplicaciones web recién titulado. De Huelva, España.
                    </h2>
                    <h2 class="text-2xl opacity-80">
                        Me caracterizo por ser una persona <span class="text-blue-200">extrovertida</span>
                        que crea siempre un buen <span class="text-blue-200">ambiente de trabajo.</span>
                    </h2>
                </div>
            </div>
            <div class="inline-block">
                <div class="inline-block items-center rounded-full text-2xl border-2 border-white p-5 opacity-80">
                    <ul class="list-disc list-inside">
                        <li><strong>eviden, 28 de noviembre de 2023 - 7 de junio de 2024</strong></li>
                        <li>Estuve de prácticas de eviden haciendo un bootcamp y participando en un proyecto interno en el cual adquirí las siguientes capacidades:</li>
                        <ul class="list-disc list-inside ml-4">
                            <li>Spring</li>
                            <li>Angular</li>
                            <li>JavaScript</li>
                            <li>Docker</li>
                            <li>Postman</li>
                        </ul>
                    </ul>
                </div>
            </div>
            
        </section>
        
    </main>
</Layout>
