---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio AJLG">
    <main>
        <section class="flex px-10 py-40 flex-col">
            <div class="flex items-center space-x-4 mb-4">
                <img class="rounded-full w-24 h-24 bg-gradient-to-r from-purple-800 to-blue-950 border-2" src="../../public/fotoAndres.webp" alt="foto andres">
                <Badge>Disponible para trabajar</Badge>
            </div>
            
            
            <div class="inline-block">
                <div class="inline-block items-center rounded-full text-4xl border-2 border-white p-5 mb-4">
                    <h1 class="px-4">Hey, soy Andrés J. López García</h1>
                </div>
            </div>
            <div class="inline-block">
                <div class="inline-block items-center rounded-full text-2xl border-2 border-white p-10 mb-4">
                    <h2 class="text-2xl pb-4 opacity-90">
                        Soy un diseñador de aplicaciones web recién titulado. De Huelva, España.
                    </h2>
                    <h2 class="text-2xl opacity-80">
                        Me caracterizo por ser una persona <span class="text-blue-200">extrovertida</span>
                        que crea siempre un buen <span class="text-blue-200">ambiente de trabajo.</span>
                    </h2>
                </div>
            </div>
        </section>
        <section id="experiencia" class="flex px-10 py-5 flex-col">
            <div class="inline-block ">
                <div class="flex items-center space-x-4 mb-4">
                    <img src="../../public/iconoMaletin.png" class="">
                    <h1 class="text-4xl px-5">Experiencia</h1>
                </div>
                <div class="relative">
                    <p class="absolute top-3 -left-2 p-7 bg-gradient-to-r from-purple-800 to-blue-950 rounded-full border-2 border-white-950">
                        <img src="../../public/iconoMarcaPaginas.png" class="absolute left-2 top-2">
                    </p>
                    
                    <ol class="list-none border-l px-10 ml-5 pt-2">
                        <li class="mt-5 text-2xl mb-6"><strong>Eviden, 28 de noviembre de 2023 - 7 de junio de 2024</strong></li>
                        <li class="ml-4 mb-3 opacity-95">Estuve de prácticas de eviden haciendo un bootcamp y participando en un proyecto interno en el cual adquirí las siguientes capacidades:</li>
                        <ol class="list-none ml-8">
                            <li>Spring</li>
                            <li>Angular</li>
                            <li>JavaScript</li>
                            <li>Docker</li>
                            <li>Postman</li>
                        </ol>
                    </ol>
                </div>
                
                
            </div>
        </section>
    </main>
</Layout>