<header class="flex justify-center items-center py-5 w-[1120px] mx-auto fixed">
    <span></span>

    <nav id="links" class="text-xl flex flex-row gap-x-20 opacity-90">
        <a href="/" class="relative overflow-hidden border-b-2 border-transparent">
            Inicio
        </a>
        <a href="/experiencia" class="relative overflow-hidden border-b-2 border-transparent">
            Experiencia
        </a>
        <a href="/habilidades" class="relative overflow-hidden border-b-2 border-transparent">
            Habilidades
        </a>
        <a href="/about" class="relative overflow-hidden border-b-2 border-transparent">
            Sobre mí
        </a>
    </nav>
</header>
