<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">
    <span></span>

    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="/" id="inicio-link" class="relative overflow-hidden border-b-2 border-transparent hover:border-white">
            <span class="absolute inset-0 bg-white w-0 transition-all duration-400 origin-left"></span>
            Inicio
        </a>
        <a href="/about" class="relative overflow-hidden border-b-2 border-transparent hover:border-white">
            <span class="absolute inset-0 bg-white w-0 transition-all duration-400 origin-left"></span>
            Sobre mí
        </a>
        <a href="/credenciales" class="relative overflow-hidden border-b-2 border-transparent hover:border-white">
            <span class="absolute inset-0 bg-white w-0 transition-all duration-400 origin-left"></span>
            Credenciales
        </a>
    </nav>
</header>
