---
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import "@fontsource-variable/onest"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="background" class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
			<Header />
			<div class="cuerpo">
				<slot />
			</div>
			<div class="footer">
				<Footer />
			</div>
	</body>
</html>

<script>
    const header = document.querySelector('header');
    const background = document.getElementById('background');
    let animationActive = false;

    function cambiarFondo() {
        if (header && background) { 
            const scrollHeight = document.documentElement.scrollHeight;
            const windowHeight = window.innerHeight;
            const scrollPosition = window.scrollY;
            const scrollPercentage = (scrollPosition / (scrollHeight - windowHeight)) * 50;

            if (scrollPercentage >= 10 && !animationActive) {
                header.classList.remove('animate-header-fadeOut');
                header.classList.add('animate-header-fadeIn');
                animationActive = true;
                header.classList.add('rounded-full');
                header.style.width = '40%';
                header.style.color = "white";
                header.style.backgroundColor = "black";
                header.style.border = "1px solid white";
                header.style.zIndex = "2";
            } else if (scrollPercentage < 10 && animationActive) {
                header.classList.remove('animate-header-fadeIn');
                header.classList.add('animate-header-fadeOut');
                animationActive = false; 
                header.style.backgroundColor = 'transparent';
                header.style.color = "white";
                header.style.border = "0";
                header.style.zIndex = "2";
            }
        }
    }

    window.addEventListener('scroll', cambiarFondo);
</script>



<style is:global>
	:root {
		color-scheme: light dark;
	}
@media (max-width:600px){	
	header{
		margin-left: 50% !important;
		width: 90% !important;

		#links{
			font-size: x-large;
		}
	}

	.cuerpo{
		font-size: xx-large;
		margin-left: 100% !important;
		width: 200% !important;
		margin-bottom: 40%;

		#home{
			span{
				font-size: x-large;
			}
		}

		#experiencia{
			#badges{
				display: flex;
            	flex-wrap: wrap;
				span{
					font-size: x-large;
				}
			}
		}

		#estudios{
			span{
				font-size: x-large;
			}
		}

		#about{
			p{
				line-height: 1.8;
				font-size: xx-large;
			}
		}
	}

	.footer{
		margin-right: 30%;
		width: 140% !important;
		font-size: xx-large;
	}
}
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	body{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	header {
            transition: background-color 0.5s ease;
        }

		.animate-header-fadeIn {
            animation: animateHeaderIn 0.8s ease;
        }

		.animate-header-fadeOut{
            animation: animateHeaderOut 1s ease;
        }

        @keyframes animateHeaderIn {
            0% {
                width: 100%;
                background-color: transparent;
                border: none;
            }
            100% {
                width: 40%;
                background-color: black;
                border: 1px solid white;
            }
        }

		@keyframes animateHeaderOut {
            0% {
				width: 40%;
                background-color: black;
                border: 1px solid white;
                
            }
            100% {
                width: 100%;
                background-color: transparent;
                border: none;
            }
        }

	#links a {
		position: relative;
		overflow: hidden;
		padding-bottom: 2px; 
		transition: transform 0.7s ease-out, border-color 0.7s ease-out;
	}

	#links a::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 120%;
		height: 1px; 
		background-color: white;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.7s ease-out;
	}

	#links a:hover::before {
		transform: scaleX(2);
	}

	#links a:hover {
    	transform: scale(1.1);
	}

	@keyframes show {
		from {
			opacity: 0;
			scale: 25%;
		}

		to{
			opacity: 1;
			scale: 100%;
		}
	}

	#experiencia, #badges, #estudios, #about{
		view-timeline-name: --badge;
		view-timeline-axis: block;

		animation-timeline: --badge;
		animation-name: show;

		animation-range: entry 25% cover 30%;
		animation-fill-mode: both;
	}
</style>
